body {
    margin: 0;
    font-family: helvetica, sans-serif;
    background: #f2f2f2;
}
body.opener #header {
    height: 100vh;
}
body.opener #content {
    display: none;
}
form {
    margin-bottom: 0;
}
#header {
    min-height: 250px;
    height: 250px;
    background-color: #607D8B;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    transition: height 0.2s ease-Out;
}
#content {
    /*background-color: #f9f9f9;*/
}
/**** HEADER ****/
.centerHeader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin-top: 0;
    transition: margin 0.2s ease-Out;
}
#headTitle {
    color: #f9f9f9;
    min-width: 350px;
    padding: 6px 0;
    font-weight: 400;
    margin-top: 0;
}
#headTally {
    border: solid 2px #f9f9f9;
    padding: 4px 12px;
    background: rgba(255,255,255,.1);
}
#inpt-main {
    width: 305px;
    height: 30px;
    margin: 0 0 20px;
    background: rgba(255,255,255,.1);
    border: solid 2px #f9f9f9;
    color: #f9f9f9;
    outline: none;
    padding: 0 1em;
    height: 45px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
#inpt-main::selection {
    background: rgba(0,0,0,.25);
}
span.ico-left {
    margin-left: 10px;
}
.btn-main {
    background: #f9f9f9;
    border: none;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 15px;
    line-height: 34px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    background: rgba(0,0,0,.2);
    color: #eee;
    transition: opacity .25s ease-in-out;
    border-bottom: solid 2px rgba(0,0,0,.2);
}
body.opener .centerHeader {
    margin-top: -100px;
}
.btn-main.search, .btn-main.random {
    /*margin-right: 16px;*/
}
.search.active ~ button {
    opacity: .5;
}
button.btn-main:hover {
    background: rgba(0,0,0,.3);
}
.btn-main.search.active {
    background: rgba(0,0,0,.3);
}
::-webkit-input-placeholder {
    color: rgba(0,0,0,.45);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
/**** RESULTS ****/
#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    counter-reset: li;
    margin: 0 1em 1em;
    padding: 0;
    max-width: 1000px;
}
#resultText {
    font-family: 'Open Sans', sans-serif;
    color: #b9b9b9;
    font-size: 24px;
    margin-top: 1em;
}
.retVal {
    display: block;
    padding: 15px 25px;
    margin: 10px;
    background: #fff;
    border-radius: 0px;
    border: solid 1px rgba(0,0,0,.1);
    position: relative;
    font-family: 'Open Sans', sans-serif;
    /*box-shadow: 0px 2px 5px rgba(0,0,0,.25);*/
}
.retVal.error {
    background: #f78793;
    color: #fff;
}
ul#results a {
    text-decoration: none;
    font-weight: 600;
    font-family: helvetica;
    color: #444;
    /*flex-grow: 1;*/
}
ul#results li:hover:before, ul#results > a > div.retVal:hover:before {
    background: #2196F3 !important;
    content: "\f0c1";
    font-family: FontAwesome;
    font-weight: 400;
}
ul#results li.error:hover:before, ul#results > a > div.retVal.error:hover:before {
    background: #2196F3 !important;
    content: "\f021";
    font-family: FontAwesome;
    font-weight: 400;
}
ul#results li.error:before, ul#results > a > div.retVal.error:before {
    content: "\f071";
    font-family: FontAwesome;
    font-weight: 400;
}
ul#results li:before {
    content: counter(li);
    counter-increment: li;
}
ul#results li:before, ul#results > a > div.retVal:before {
    position: absolute;
    left: -15px;
    margin-top: -15px;
    top: 50%;
    background: #f78793;
    height: 24px;
    color: #fff;
    width: 24px;
    line-height: 24px;
    /*border: .3em solid #F6F6F6;*/
    border: solid .3em rgba(0,0,0,.1);
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    border-radius: 2em;
    -webkit-transition: all .1s ease-Out;
    -moz-transition: all .1s ease-Out;
    -ms-transition: all .1s ease-Out;
    -o-transition: all .1s ease-Out;
    transition: all .1s ease-Out;
    border-color: #f4f4f4;
    z-index: 5;
}
ul#results li:after, ul#results > a > div.retVal:after {
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    top: 50%;
    z-index: 1;
    left: -16px;
    margin-top: -16px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%,rgba(255, 255,255,0) 50%,rgba(0,0,0,.10) 51%, rgba(0,0,0,.10) 75%, rgba(0,0,0,.10) 100%);
    border-radius: 2em;
}
ul#results > a > div.retVal:before {
    background: #607D8B;
    font-family: 'FontAwesome';
    content: '\f002';
}
ul#results li.retVal.philosophy:before {
    background: #8BC34A;
}
#mode {
    margin: .5em .5em 0;
    line-height: 24px;
    font-size: 16px;
}
#mode .fa {
    color: rgba(0,0,0, .25);
    padding: .5em;
    margin-right: 1em;
    cursor: pointer;
}
#mode i.fa:hover {
    color: rgba(0,0,0, .6);
}
#mode i.fa:last-of-type {
    margin-right: 0;
}
.mode-default #mode i.fa.mode-default, .mode-list #mode i.fa.mode-list {
    color: rgba(0,0,0, .5);
}
/***** TEMPLATE ******/
.mode-list #results {
    flex-direction: column;
}
.mode-list .retVal {
    margin-bottom: 0;
    margin-top: 0;
    border-bottom: 0;
    width: 400px;
}
.mode-list #results > a:first-of-type {
    margin-top: 10px !important;
}
.mode-list #results a:last-of-type li.retVal {
    border-bottom: solid 1px rgba(0,0,0,.1);
}
.mode-list #results a {
    flex-grow: 1;
    min-width: 200px;
}
/*** Sub Temp - round edges ***/
button.btn-main:last-of-type {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

button.btn-main:first-of-type {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
button.btn-main.random {
    border-radius: 1px;
}
.btn-main.search, .btn-main.random {
    border-right: inset 2px rgba(0,0,0,.1);
}
#headTally {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    background: #f78793;
    border-color: transparent;
    font-weight: 600;
    padding: 0;
    margin-right: 5px;
}
#headTally, ul#results li:before, ul#results > a > div.retVal:before {
    text-shadow: 2px 2px rgba(0,0,0,.1);
}
#inpt-main {
    border: 0;
    box-shadow: inset 0 0px 3px rgba(0,0,0,.60);
    border-radius: 5px;
}
#fixedWrap {
    /*display: none;*/
}
#fixedWrap #headTitle {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    background-color: #607D8B;
    z-index: 100;
    transition: opacity 0.3s ease, height 0.3s ease, top 0.3s ease;
    height: 56px;
    box-sizing: border-box;
    overflow: hidden;
}
#fixedWrap #headTitle.hidden {
    top: -65px;
}
body.success #headTally {
    background: #8BC34A;
}
@media screen and (max-width: 450px) {
ul#results a {
    flex-grow: 1;
}
.mode-list ul#results {
    flex-direction: row !important;
}
.mode-list .retVal {
    width: auto;
}
}
