<meta name="viewport" content="width=device-width, initial-scale=1">
<title>N Degrees of Philosophy</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<body class="opener">
<div id="header">
    <div class="centerHeader">
        <center>
            <h2 id="headTitle"><span id="headTally">N</span> Degrees of Philosophy</h2>
            <div id="inputWrap">
                <form action="javascript:searchEvent()">
                    <input type="text" id="inpt-main" placeholder="search for topic ...">
                    <input type="submit" style="position: absolute; left: -9999px"/>
                </form>
                <div class="btn-grouping">
                    <button class="btn-main search"><i class="fa fa-search"></i><span class="ico-left">Search</span>
                    </button><button class="btn-main random"><i class="fa fa-random"></i><span class="ico-left">Random</span>
                    </button><button class="btn-main reset"><i class="fa fa-refresh"></i><span class="ico-left">Reset</span></button>
                </div>
            </div>
        </center>
    </div>
    <div id="fixedWrap">
        <h2 id="headTitle" class="fixed hidden"><span id="headTally">N</span> Degrees of Philosophy</h2>
    </div>
</div>
<div id="content" class="mode-default">
    <center>
        <div id="mode"><i class="fa fa-th mode-default"></i><i class="fa fa-list-ul mode-list"></i></div>
        <ul id="results">
            
        </ul>
    </center>
</div>
<script>
/* Config */
var Mob_Check = (window.innerWidth <= 600) ? true : false;
var Search_Active = false;
var Scroll_Override = false;
var Search_Error = false;
var dbLog = function() {
    var _logs = {{data.debug}};
    return _logs;
};
$(function(){
    /* Main Buttons */
    $(".search").on("click", function() {
        searchEvent();
    });
    $(".random").on("click", function() {
        getRandom();    
    });
    $(".reset").on("click", function() {
        clearResults(true);
    });

    /* Mode Buttons */
    $("i.fa.mode-default").on("click", function() {
        changeMode('default');
    });
    $("i.fa.mode-list").on("click", function() {
        changeMode('list');
    });

    /* If Mobile - Scroll Watcher */
    if (Mob_Check) {
        var lastScrollTop = 0;
        var headerMax = 250;
        $(window).scroll(function(event){
            var st = $(this).scrollTop();
            if (st > headerMax) {
                if (st > lastScrollTop){
                    // downscroll code - show banner
                    dbLog() && console.log('Scrolling down');
                    if ($('#fixedWrap #headTitle').hasClass('hidden')) {
                        $('#fixedWrap #headTitle').removeClass('hidden');
                    }

                } else {
                    // upscroll code - hide banner
                    dbLog() && console.log('Scrolling up');
                    if ($('#fixedWrap #headTitle').hasClass('hidden') != true) {
                        $('#fixedWrap #headTitle').addClass('hidden');
                    }

                    if (Search_Active && !(Scroll_Override)) {
                        dbLog() && console.log('OVERRIDE');
                        Scroll_Override = true;
                    }
                }
                //lastScrollTop = st;
            } else {
                // Ensure hidden fixed header
                if ($('#fixedWrap #headTitle').hasClass('hidden') != true) {
                    $('#fixedWrap #headTitle').addClass('hidden');
                }

                if (st < lastScrollTop) {
                    // downscroll
                    dbLog() && console.log('scroll override: ' + Scroll_Override.toString());
                    dbLog() && console.log('search active: ' + Search_Active.toString());
                    var _switch = (Search_Active && (Scroll_Override == false)) ? true : false;
                    if (_switch) {
                        dbLog() && console.log('OVERRIDE AGAIN');
                        Scroll_Override = true;
                    }
                }       
            }
            lastScrollTop = st;

        });
    }
});


var getRandom = function() {
    url = "/random/";
    $.get(url).done(function(response) {
        dbLog() && console.log('success');
        dbLog() && console.log(response);
        clearResults(true);
        renderResults.random(response);
    }).fail(function(response) {
        dbLog() && console.log('error')
        // trigger error state
    });
};

var searchEvent = function() {
    if (!Search_Active) {
        var searchStr = document.getElementById("inpt-main").value;
        dbLog() && console.log(searchStr);

        if (searchStr) {
            $('body').removeClass('opener');
            Scroll_Override = false;
            clearResults(false);
            toggleSearch(true);
            searchLoop(searchStr);
        }
    }
};

var toggleSearch = function(bool) {
    Search_Active = bool;
    if (bool) {
        $(".search").addClass("active");
    } else {
        Search_Error = false;
        $(".search").removeClass("active");
    }
}

var loopError = function(errorType, errorObj) {
    dbLog() && console.log(errorType);
    dbLog() && console.log(errorObj);
    Search_Error = true;
    toggleSearch(false);
    renderResults.error(errorType);
};

var searchLoop = function(str) {
    var count = 1;
    var countObj = {};
    var max = 40;
    var end = false;
    var originalStr = str;
    var currentStr = str;
    
    var loop = function(str) {
        searchWiki(str).done(function(response){retHandler(response);}).error(function(error){loopError('Server', error);});
    };

    var retHandler = function(response) {
        dbLog() && console.log('success');
        dbLog() && console.log(response);
        renderResults.count(count);
        //renderResults.path(count);
        if (response.end) {
            dbLog() && console.log('END');
            end = response.end;
            renderResults.count(count);
            renderResults.single(response, count);
            renderResults.success();dbLog() &&
            toggleSearch(false);
        } else {
            dbLog() && console.log('change current str');
            currentStr = response.nextPage.Title;
            count += 1;
            countObj[currentStr] = (countObj[currentStr]) ? countObj[currentStr] + 1 : 1;
            dbLog() && console.log(currentStr);
            dbLog() && console.log(count);
            dbLog() && console.log(countObj);

            if (countObj[currentStr] >= 3) {
                // Stuck in loop - enter error mode
                loopError('Loop', response);
            } else {
                // Render Result
                renderResults.single(response, count);
                if (count < max && !Search_Error) {
                    loop(currentStr);
                }
            }
        }
    };

    renderResults.search(originalStr);
    loop(currentStr);
};

var searchWiki = function(str) {
    var url = '/wiki/?s=' + encodeURIComponent(str);
    //clearResults();
    dbLog() && console.log('querying for ' + str);
    return $.get(url);
};


//var searchWikiFull = function(str) {
//    var url = '/wiki/?s=' + str;
//    clearResults();
//    dbLog() && console.log('querying for ' + str);
//    $.post(url).done(function(response) {
//        dbLog() && console.log('success');
//        dbLog() && console.log(response);
//        renderResults.count(response.length);
//        renderResults.path(response.path);
//    }).fail(function(response) {
//        dbLog() && console.log('error')
//    });
//};


var renderResults = {
    'path': function(resArr) {
        resArr.forEach(function(item) {
            var retVal = '<li class="retVal">' + item.Title + '</li>';
            $("#results").append(retVal);
        });
    },
    'single': function(resObj, count) {
        var last = (resObj.nextPage.Title === 'Philosophy') ? ' philosophy': '';
        var retVal = '<a href="https://en.wikipedia.org/wiki/' + resObj.nextPage.Url + '" target="_blank"><li class="retVal ' + count.toString() + last +'" style="display: none">' + resObj.nextPage.Title + '</li></a>';
        $('#results').append(retVal);
        $('.retVal.' + count.toString()).fadeIn();
        dbLog() && console.log(Scroll_Override);
        if (Mob_Check && (Scroll_Override === false)) {
            $('html, body').animate({
                scrollTop: $(document).height()
            }, 'fast');
        }
    },
    'count': function(resLen) {
        $('.centerHeader #headTally, #fixedWrap #headTally').html(resLen);
    },
    'random': function(resObj) {
        $('#inpt-main').val(resObj.random[0].title);
    },
    'search': function(resStr) {
        var retVal = '<a href="https://en.wikipedia.org/wiki/' + resStr + '"target="_blank"><div class="retVal original-search" style="display: none">' + resStr + '</div></a>';
        $('#results').append(retVal);
        $('.retVal.original-search').fadeIn();
    },
    'success': function() {
        $('body').addClass('success');
        toggleSearch(false);
    },
    'error': function(errorType) {
        var retVal = '<a href><li class="retVal error" style="display: none">' + errorType + ' Error</li></a>';
        $('#results').append(retVal);
        $('.retVal.error').fadeIn();
        if (Mob_Check && (Scroll_Override === false)) {
            $('html, body').animate({
                scrollTop: $(document).height()
            }, 'fast');
        }
    }
};

var clearResults = function(bool) {
    toggleSearch(false);
    // Reset headTally
    $('body').removeClass('success');
    $('#headTally').html('N');
    // Reset results
    $('#results').html('');

    if (bool) {
        $('#inpt-main').val('');
    }
};

var changeMode = function(mode) {
    if (mode === 'default') {
        $('#content').removeClass('mode-list').addClass('mode-default');
    } else if (mode === 'list') {
        $('#content').removeClass('mode-default').addClass('mode-list');
    }
}
</script>
</body>
